/* spacers */
$token-spacing-base: 16px;
$token-spacing-8: 2rem;
$token-spacing-4: 1rem;
$token-spacing-3: 0.75rem;
$token-spacing-2: 0.5rem;
$token-spacing-1: 0.25rem;

$token-border-radius-lg: 0.75rem;
$token-border-radius-md: 0.5rem;
$token-border-radius-sm: 0.25rem;

/* fonts */
$token-font-size-xxlg: 1.5rem;
$token-font-size-xlg: 1.25rem;
$token-font-size-base: 1rem;
$token-font-size-lg: 0.75rem;
$token-font-size-md: 0.5rem;
$token-font-size-sm: 0.25rem;

$token-font-weight-reg: 400;
$token-font-weight-md: 500;
$token-font-weight-lg: 600;
$token-font-weight-xlg: 700;

/* colors */
$token-theme-color-grey-10: #e5e6ed;
$token-theme-color-grey-20: #bcc0cb;
$token-theme-color-brown: #80717f;
$token-theme-color-dark-blue: #13168d;
$token-theme-color-blue: #486ba6;
$token-theme-color-black: #393a57;

$token-theme-color-white: #ffffff;
$token-theme-color-off-white: #f7f4f4;
