.global-message {
  h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #000;
  }
  p {
    font-size: 1rem;
    font-weight: 500;
    color: #000;
  }
  background-color: #00b74a9e;
  padding: 1rem;
  border-radius: 0.25rem;

  position: absolute;
  width: 25rem;
  height: auto;
  top: 10px;
  right: 20px;
  border: 2px dotted green;
}

.from {
  background-color: #f93154;
  padding: 2px;
  color: #000;
}
.to {
  background-color: #00b74a;
  padding: 2px;
  color: #000;
}
